{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="login-container">
    <div class="background-circles">
        <div class="circle red"></div>
        <div class="circle yellow"></div>
        <div class="circle green"></div>
    </div>
    <h1 class="login-title">Login</h1>
    <div class="login-box">
        <label>Email</label>
        <input type="email" placeholder="Enter your email">

        <label>Password</label>
        <input type="password" placeholder="Enter your password">
    </div>
</div>
<button class="go-btn">GO!</button>
{% endblock %}