{% extends 'base2.html' %}

{% block title %}home{% endblock %}

{% block content %}



<h1 class="main-title">NEWS</h1>

<div class="news-section">
    <img src="descarga.jpeg" alt="Komodo" class="news-image-large">
    <div class="news-content-large">
        <h2 class="news-heading">New News!</h2>
        <p class="news-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
    </div>
</div>


<div class="news-item">
    <img src="descarga.jpeg" alt="Noticia 1">
    <div class="news-text">
        <h3>Lorem Ipsum</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
    </div>
</div>

<div class="news-item">
    <img src="descarga.jpeg" alt="Noticia 2">
    <div class="news-text">
        <h3>Lorem Ipsum</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
    </div>
</div>

<div class="news-item">
    <img src="descarga.jpeg" alt="Noticia 3">
    <div class="news-text">
        <h3>Lorem Ipsum</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
    </div>
</div>
{% endblock %}

