@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Poppins&display=swap');

.login-container {
    text-align: center;
    margin-top: 0;
    position: relative;
}

.background-circles {
    position: absolute;
    top: 100px;
    left: -20px;
    width: 200px;
    height: 200px;
}

.circle {
    position: absolute;
    border-radius: 50%;
}

.yellow {
    background-color: #FFD97D;
    width: 55vh;
    height: 55vh;
    left: -15vh;
    bottom: -35vh;
}

.red {
    background-color: #EE6055;
    width: 61vh;
    height: 61vh;
    left: -2vh;
    bottom: -58vh;
}

.green {
    background-color: #60D394;
    width: 57vh;
    height: 57vh;
    left: -20vh;
    bottom: -57vh;
}

.login-title {
    font-size: 50px;
    margin-top: -20px;
    font-family: 'DM Serif Display', serif;
    font-weight: bold;
    color: #003a00;
    display: inline-block;
    padding: 10px 20px;
    letter-spacing: 2px;
    z-index: 2;
}

.login-box {
    background-color: #fafafa85;
    padding: 30px;
    width: 45%;
    margin: auto 350px;
    border-radius: 15px;
    position: relative;
    z-index: 2;
    text-align: left;
}

.login-box label {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    color: #003621;
    margin-bottom: 10px;
    display: block;
    letter-spacing: 3px;
}

.login-box input {
    width: 100%;
    padding: 2px;
    border: none;
    border-bottom: 2px solid #003621;
    background: transparent;
    font-size: 16px;
    outline: none;
    margin-bottom: 30px;
    font-family: 'Poppins', sans-serif;
}

.login-box input::placeholder {
    color: #aaa;
    font-size: 14px;
}

.go-btn {
    position: fixed;
    bottom: 40px;
    right: 30px;
    width: 120px;
    background-color: #AAF683;
    color: #003621;
    border: none;
    padding: 5px;
    font-size: 27px;
    font-family: 'DM Serif Display', serif;
    font-weight: bold;
    cursor: pointer;
    border-radius: 15px;
    text-align: center;
}

.go-btn:hover {
    background-color: #95db71;
}