h1.reg_title {
    width: 100%;
    text-align: center;
    margin-top: 50px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 50px;
    flex-wrap: wrap;
}

.option-btn {
    width: 25%;
    height: 500px;
    font-size: 7vh;
    font-weight: bold;
    text-align: center;
    border: none;
    border-radius: 200px;
    transition: transform 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #003621;
    font-family: 'DM Serif Display', serif;
    letter-spacing: 1px;
}

.public {
    background-color: #FF9B85;
}

.student {
    background-color: #FFD97D;
}

.teacher {
    background-color: #60D394;
}

.option-btn:hover {
    transform: scale(1.1);
}

/* Responsive design for smaller screens */
@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        gap: 20px;
    }

    .option-btn {
        width: 80%;
        height: 200px;
        border-radius: 200px;
    }
}
