{% extends 'base.html' %}
{% block title %}Register Teacher{% endblock %}
{% block content %}
<div class="register-container">
    <div class="register-card teacher">
        <h1>Register as Teacher</h1>
        <form method="POST">
            {{ form.hidden_tag() }}
            {{ form.email.label }}<br>{{ form.email() }}<br>
            {{ form.full_name.label }}<br>{{ form.full_name() }}<br>
            {{ form.password.label }}<br>{{ form.password() }}<br>
            {{ form.submit() }}
        </form>
        {% for field in form %}
            {% for error in field.errors %}
                <div class="flash danger">{{ error }}</div>
            {% endfor %}
        {% endfor %}
        <a href="{{ url_for('routes.login') }}">Already have an account?</a>
    </div>
</div>
{% endblock %}
